
*{
    margin:0;
    padding:0;
}
.full{
    background-image: url(images/studywallpaper.jpg);
    
    padding-top: 40px;
    height: 100vh;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    object-fit: fill;
    object-position: 50% 50%;

}
.count{
    
    margin-top: 300px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: transparent;
}

.days{
    margin-top: 10px;
    font-size: 40px;
    color: white;
    background: transparent;
    font-weight: bold;
    
}

.gate{
    align-items: center;
    
}
.gate1{
    

    font-size: 60px;
    color: white;
    background: transparent;
    font-weight: bold;
}
#date01,#date11,#date21,#date31{
    margin-top: 20px;
    font-size: 40px;
}
@media (width<400px){
    .days{
        font-size: 20px;
    }
    #date01,#date11,#date21,#date31{
        margin-top: 20px;
        font-size: 15px;
    }
    .full{
        background-image: url(images/studywall2.jpg);
    }
}